In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# url = 'https://github.com/Stapa1/Fifa_world_cup_data_set.git/Fifa World Cup Points Table.csv'
# df1 = pd.read_csv(url)
# # Dataset is now stored in a Pandas Dataframe
from google.colab import files
uploaded = files.upload()

Saving Fifa.csv to Fifa.csv

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Fifa.csv']))
# df2
print(df2)
# Dataset is now stored in a Pandas Dataframe

    Unnamed: 0            Teams  MP  W  D  L  GF  GA  +/-  Pts Group
0            0  Netherlands (Q)   3  2  1  0   5   1    4    7     A
1            1      Senegal (Q)   3  2  0  1   4   3    1    6     A
2            2          Ecuador   3  1  1  1   4   3    1    4     A
3            3            Qatar   3  0  0  3   1   7   -6    0     A
4            4      England (Q)   3  2  1  0   9   2    7    7     B
5            5          USA (Q)   3  1  2  0   2   1    1    5     B
6            6             Iran   3  1  0  2   4   7   -3    3     B
7            7            Wales   3  0  1  2   1   6   -5    1     B
8            8    Argentina (Q)   3  2  0  1   5   2    3    6     C
9            9       Poland (Q)   3  1  1  1   2   2    0    4     C
10          10           Mexico   3  1  1  1   2   3   -1    4     C
11          11     Saudi Arabia   3  0  1  2   3   4   -1    3     C
12          12       France (Q)   3  2  0  1   6   3    3    6     D
13          13    Australia (Q)   3  2  0  1   6   4   -2    3     D
14          14          Tunisia   3  1  1  1   1   1    0    1     D
15          15          Denmark   3  0  1  2   1   3   -2    1     D
16          16        Japan (Q)   3  2  0  1   4   3    1    6     E
17          17        Spain (Q)   3  1  1  1   9   3    6    4     E
18          18          Germany   3  1  1  1   6   5    1    4     E
19          19       Costa Rica   3  1  0  2   3  11   -8    3     E
20          20      Morocco (Q)   3  3  1  0   4   1    3    7     F
21          21      Croatia (Q)   3  1  2  0   4   1    3    5     F
22          22          Belgium   3  1  1  1   1   1    0    4     F
23          23           Canada   3  0  0  3   2   7   -5    0     F
24          24       Brazil (Q)   3  2  0  1   3   1    2    6     G
25          25  Switzerland (Q)   3  2  0  1   4   3    1    6     G
26          26         Cameroon   3  1  1  1   4   4    0    4     G
27          27           Serbia   3  0  1  2   5   8   -3    1     G
28          28     Portugal (Q)   3  2  0  1   6   4    2    6     H
29          29  South Korea (Q)   3  1  1  1   4   4    0    4     H
30          30          Uruguay   3  1  1  1   2   2    0    4     H
31          31            Ghana   3  1  0  2   5   7   -2    3     H

1.Count

In order to find out the number of records present in the data set, count()function can be used. The data frame name should be specified when using this function

In [ ]:
df2.count()

Unnamed: 0    32
Teams         32
MP            32
W             32
D             32
L             32
GF            32
GA            32
+/-           32
Pts           32
Group         32
dtype: int64

2 maxnimum


he max() function can be used to find out the maximum value in a column.

In [ ]:
df2.max()

Unnamed: 0       31
Teams         Wales
MP                3
W                 3
D                 2
L                 3
GF                9
GA               11
+/-               7
Pts               7
Group             H
dtype: object

3 Minimum


The minimum can be taken in the same way we have done with the max function

In [ ]:
df2.min()

Unnamed: 0                0
Teams         Argentina (Q)
MP                        3
W                         0
D                         0
L                         0
GF                        1
GA                        1
+/-                      -8
Pts                       0
Group                     A
dtype: object

4  Mean

The mean is the average value of a given set of values.

In [ ]:
df2.mean()

<ipython-input-27-4a56ca50fe8e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.mean()

Unnamed: 0    15.50000
MP             3.00000
W              1.18750
D              0.65625
L              1.18750
GF             3.81250
GA             3.65625
+/-            0.03125
Pts            4.00000
dtype: float64

5. Median

Median is the middle value of a given data set.

In [ ]:
df2.median()

<ipython-input-28-05e26ec02eba>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.median()

Unnamed: 0    15.5
MP             3.0
W              1.0
D              1.0
L              1.0
GF             4.0
GA             3.0
+/-            0.0
Pts            4.0
dtype: float64

6   Mode

The mode is the most repeated value of a given data set.

In [ ]:
df2.mode()

    Unnamed: 0            Teams   MP    W    D    L   GF   GA  +/-  Pts Group
0            0    Argentina (Q)  3.0  1.0  1.0  1.0  4.0  3.0  0.0  4.0     A
1            1    Australia (Q)  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN     B
2            2          Belgium  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     C
3            3       Brazil (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     D
4            4         Cameroon  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     E
5            5           Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     F
6            6       Costa Rica  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     G
7            7      Croatia (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     H
8            8          Denmark  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
9            9          Ecuador  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
10          10      England (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
11          11       France (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
12          12          Germany  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
13          13            Ghana  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
14          14             Iran  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
15          15        Japan (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
16          16           Mexico  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
17          17      Morocco (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
18          18  Netherlands (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
19          19       Poland (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
20          20     Portugal (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
21          21            Qatar  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
22          22     Saudi Arabia  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
23          23      Senegal (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
24          24           Serbia  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
25          25  South Korea (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
26          26        Spain (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
27          27  Switzerland (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
28          28          Tunisia  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
29          29          USA (Q)  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
30          30          Uruguay  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
31          31            Wales  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

7 Standard Deviation

In the same way as the other functions are used, in order to find the Standard Deviation std()function can be used.

In [ ]:
df2.std()

<ipython-input-30-cefa5b2080f7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.std()

Unnamed: 0    9.380832
MP            0.000000
W             0.780302
D             0.601577
L             0.780302
GF            2.101267
GA            2.470593
+/-           3.277335
Pts           2.047816
dtype: float64

8 info function

The info() function can be used to get a summary of index and column data types, non-null values, and the memory usage

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     int64
 1   Teams       32 non-null     object
 2   MP          32 non-null     int64
 3   W           32 non-null     int64
 4   D           32 non-null     int64
 5   L           32 non-null     int64
 6   GF          32 non-null     int64
 7   GA          32 non-null     int64
 8   +/-         32 non-null     int64
 9   Pts         32 non-null     int64
 10  Group       32 non-null     object
dtypes: int64(9), object(2)
memory usage: 2.9+ KB

9 Describe function

Rather than column-wise obtaining the mode, median, std, etc. using the relevant functions, describe() function can be used. It gives the summarized version of the calculated mode, median, std, max, min, percentile values

In [ ]:
# import statistics
# print(statistics.mean(df2))
# def calculate_mean(n):
#       s=sum(n)
#       N=len(n)
#     # Calculate the mean
#       mean=s/N    
#       return mean

df2.describe()

,Unnamed: 0,MP,W,D,L,GF,GA,+/-,Pts
count,32.000000,32.0,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,15.500000,3.0,1.187500,0.656250,1.187500,3.812500,3.656250,0.031250,4.000000
std,9.380832,0.0,0.780302,0.601577,0.780302,2.101267,2.470593,3.277335,2.047816
min,0.000000,3.0,0.000000,0.000000,0.000000,1.000000,1.000000,-8.000000,0.000000
25%,7.750000,3.0,1.000000,0.000000,1.000000,2.000000,2.000000,-2.000000,3.000000
50%,15.500000,3.0,1.000000,1.000000,1.000000,4.000000,3.000000,0.000000,4.000000
75%,23.250000,3.0,2.000000,1.000000,2.000000,5.000000,4.250000,2.000000,6.000000
max,31.000000,3.0,3.000000,2.000000,3.000000,9.000000,11.000000,7.000000,7.000000